<form [formGroup]="technicienForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter username">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password">
  </div>

  <div class="form-group">
    <label for="role">Rôle</label>
    <select id="role" formControlName="role" class="form-control">
      <option value="">Sélectionnez un rôle</option>
      <option value="ADMIN">Admin</option>
      <option value="TECHNICIAN">Technicien</option>
      <option value="USER">Utilisateur</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Ajouter le Technicien</button>
</form>
