<div class="content">
  <main>
    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>

          <h3>Liste des utilisateurs</h3>
          <i class='bx bx-filter'></i>
          <i class='bx bx-search'></i>
        </div>
       <app-list-utilisateur></app-list-utilisateur>
      </div>

      <!-- Reminders -->
      <div class="reminders">
        <app-add-utilisateur></app-add-utilisateur>
      </div>
    </div>
  </main>
</div>

