<div class="edit-ticket">
  <div class="header">
    <i class='bx bx-edit-alt'></i>
    <h3>Modifier Ticket</h3>
  </div>
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="edit-ticket-form">
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" formControlName="description" placeholder="Enter ticket description" />
      <div class="error-message" *ngIf="ticketForm.get('description')?.invalid && ticketForm.get('description')?.touched">
        <small>Description is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="etat">État</label>
      <select id="etat" formControlName="etat">
        <option value="" disabled selected>Select ticket state</option>
        <option *ngFor="let etat of etatOptions" [value]="etat">{{ etat }}</option>
      </select>
      <div class="error-message" *ngIf="ticketForm.get('etat')?.invalid && ticketForm.get('etat')?.touched">
        <small>State is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="dateCreation">Date de Création</label>
      <input id="dateCreation" type="date" formControlName="dateCreation" />
      <div class="error-message" *ngIf="ticketForm.get('dateCreation')?.invalid && ticketForm.get('dateCreation')?.touched">
        <small>Creation date is required.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="dateResolution">Date de Résolution</label>
      <input id="dateResolution" type="date" formControlName="dateResolution" />
      <div class="error-message" *ngIf="ticketForm.get('dateResolution')?.invalid && ticketForm.get('dateResolution')?.touched">
        <small>Resolution date is required.</small>
      </div>
    </div>


    <div class="form-actions">
      <button type="submit" [disabled]="ticketForm.invalid">
        <i class='bx bx-save'></i> Modifier Ticket
      </button>
    </div>
  </form>
</div>
