<div class="edit-ticket-form">
  <h2>Modifier le Ticket</h2>
  <form [formGroup]="editTicketForm" (ngSubmit)="onSubmit()">
    <label for="description">Description:</label>
    <input id="description" formControlName="description" type="text" />

    <label for="etat">État:</label>
    <select id="etat" formControlName="etat">
      <option *ngFor="let etat of etats" [value]="etat">{{ etat }}</option>
    </select>

    <label for="dateResolution">Date de Résolution:</label>
    <input id="dateResolution" formControlName="dateResolution" type="datetime-local" />

    <label for="utilisateur">Utilisateur:</label>
    <input id="utilisateur" formControlName="utilisateur" type="text" />

    <label for="technicienIT">Technicien IT:</label>
    <input id="technicienIT" formControlName="technicienIT" type="text" />

    <label for="panne">Panne:</label>
    <input id="panne" formControlName="panne" type="text" />

    <button type="submit" class="save-btn">Enregistrer</button>
  </form>
</div>
