<form [formGroup]="ticketForm" (ngSubmit)="updateTicket()">
  <div>
    <label>Description:</label>
    <input formControlName="description" placeholder="Description du ticket">
  </div>

  <div>
    <label>État:</label>
    <input formControlName="etat" placeholder="État du ticket">
  </div>

  <div>
    <label>Date de Création:</label>
    <input formControlName="dateCreation" placeholder="Date de création" type="datetime-local">
  </div>

  <div>
    <label>Date de Résolution:</label>
    <input formControlName="dateResolution" placeholder="Date de résolution" type="datetime-local">
  </div>

  <div formGroupName="utilisateur">
    <label>ID Utilisateur:</label>
    <input formControlName="id" placeholder="ID de l'utilisateur">
  </div>

  <div formGroupName="technicienIT">
    <label>ID Technicien IT:</label>
    <input formControlName="id" placeholder="ID du technicien IT">
  </div>

  <div formGroupName="panne">
    <label>ID Panne:</label>
    <input formControlName="idPanne" placeholder="ID de la panne">
  </div>
  <button type="submit" [disabled]="ticketForm.invalid">Enregistrer les modifications</button>

</form>
