<div class="content">
  <main>
    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>
          <h3>Liste des Tickets</h3>
          <i class='bx bx-filter'></i>
          <i class='bx bx-search'></i>
        </div>
       <app-list-ticket></app-list-ticket>
      </div>

      <!-- Reminders -->
      <div class="reminders">
        <div class="header">
        </div>
        <app-edit-ticket></app-edit-ticket>
      </div>
    </div>
  </main>
</div>

