.scrollable-table-container {
  width: 100%;
  height: 580px;
  overflow: auto;
}

.scrollable-table-container::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

.scrollable-table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.scrollable-table-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

.scrollable-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #153655;
  color: #fff;
}

.edit-btn {
  background-color: #a3fba6;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.edit-btn:hover {
  background-color: white;
  color: #a2ffa6;
  border: 2px solid #a1ffa6;
}

.delete-btn {
  background-color: #ff958e;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.delete-btn:hover {
  background-color: white;
  color: #ff958e;
  border: 2px solid #ff958e;
}
