<div class="scrollable-table-container">
  <table>
    <thead>
    <tr>
      <th>Description</th>
      <th>État</th>
      <th>Date de Création</th>
      <th>Date de Résolution</th>
      <th>Utilisateur</th>
      <th>Technicien IT</th>
      <th>Panne</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.etat }}</td>
      <td>{{ ticket.dateCreation | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ ticket.dateResolution | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ ticket.utilisateur?.id }}</td>
      <td>{{ ticket.technicienIT?.id }}</td>
      <td>{{ ticket.panne.idPanne }}</td>
      <td>
        <button class="delete-btn" (click)="deleteTicket(ticket.id)">Supprimer</button>
        <button class="edit-btn" [routerLink]="['/admin-dashboard/edit-ticket', ticket.id]">Modifier</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
