<div class="content">
  <main>
    <div class="bottom-data">
      <div class="orders">
        <div class="header">
          <i class='bx bx-receipt'></i>
          <h3>Liste des equipements</h3>
          <i class='bx bx-filter'></i>
          <i class='bx bx-search'></i>
        </div>
        <app-list-equipement></app-list-equipement>
      </div>

      <!-- Reminders -->
      <div class="reminders">
        <div class="header">
        </div>
        <app-add-equipement></app-add-equipement>
      </div>
    </div>
  </main>
</div>

